html, body {
  font-family: 'Roboto', sans-serif;
  vertical-align: top;
/*  background-color: #1c007d;
  background-image: url("../images/jeopardyset.jpg");
  background-size: contain;
  background-repeat: no-repeat;*/
}
.flex {
  display: flex;
}
.flexcolumn{
  flex-direction: column;
}
.wrap{
  flex-wrap: wrap;
}
.vcenter {
  align-items: center;
  height:100vh;
}
.hcenter {
 justify-content: center;
}
.space_between{
 justify-content: space-between;
 width:100%
}
.space_around{
 justify-content: space-around;
 flex-wrap: wrap;
}
.questionPicker, .categoryQuestions{
  font-family: 'Anton', sans-serif;
  padding:0;
  width:30vw;
  text-transform: uppercase;
  text-shadow: .2vw .2vw black;
  background-color: #1c007d;
  text-align: center;
}
.questionPicker .title, .categoryQuestions .title{
  height: 20vh;
  font-size: 3vw;
  border: 1vw solid black;
  color: white;
}
.questionPicker .points, .categoryQuestions .points{
  font-size: 9vw;
  color: #d69f4c;
  height: 20vh;
  border: 1vw solid black;
}
.answerViewer{
  font-family: 'Vollkorn', serif;
  padding:2vw;
  display: none;
  position: fixed;
  width:100%;
  height:100%;
  z-index: 5;
  transform:translateY(100%);
  bottom:0;
  background-color: #1c007d;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
  text-transform: uppercase;
  text-align: center;
  color: white;
  text-shadow: .2vw .2vw black;
  font-size: 4vw;

}
.small{
  font-size: 3vw;
}
.input{
  font-size:4vw;
}
.submitButton{
  font-size:4vw;
}
#intro{
  width:100vw;
}
#gipparodyTitle{
  font-family: 'gyparodyheavy';
  font-size: 15vw;
}
#player{
  display: none;
  background-image: url("../images/jeopardy1996podium-single.png");
  background-size: contain;
  background-repeat: no-repeat;
  right: 0;
  bottom: 0;
  width: 333px;
  height: 362px;
  position: fixed;
}
#scoreHolder{
  position: absolute;
  right: 6rem;
  top: 1.3rem;
  font-family: 'Anton', sans-serif;
  color: white;
  text-shadow: .1rem .1rem black;
  font-size: 3rem;
  text-align: center;
}
#playerSign{
  position: absolute;
  right: 6rem;
  top: 8rem;
  width: 10rem;
  color: white;
  text-shadow: .3rem .3rem black;
  font-size: 1.7rem;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}
#results{
  position: absolute;
  top: 0;
  /*top: 33vh;
  left: 33vw;*/
  display:none;
  font-size: 3vw;
  text-align: center;
  color: white;
  background-color: #1c007d;
  width:100vw;
  height:100vh;
}
#correctResult, #incorrectResult{
  display: none;
}
.categoryQuestions{
  display: none;
}
.gipparodyCategoryAnswers{
  display: none;
}
